$primary-color: #b89e9e;
$secondary-color: #C5B3D0;
$primary-background: #F1F39D;

@mixin background-styles() {
    background-color: $primary-color;
    padding: 16px;
    text-align: center;
}

body {
    margin: 0;
    background-color: $primary-background;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    @include background-styles();

    .logo-name {
        @media screen and (max-width: 600px) {
            margin-bottom: 16px;
        }
        
        img {
            width: 100px;
        }

        .name {
            font-size: 32px;
            margin-top: 8px;
            margin-bottom: 16px;
        }

        .asdhypiozzi-text {
            color: #5f0a0a;
            font-family: 'Roboto', sans-serif;
            font-family: 'Shadows Into Light', cursive;
        }

    }

    #nav-items {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Shadows Into Light', cursive;

        a {
            text-decoration: none;
            color: #5f1f87;
        }
    }
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .logo-name {
            .name {
                margin-bottom: 0;
            }
        }

        #nav-items {
            width: 30%;
        }
    }
}

footer {
    @include background-styles();

    .social-media {
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;

        a {
            i {
                color: #5f0a0a;
                font-size: 16px;
            }
        }
    }

    .info {
        color:#5f1f87;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-family: 'Shadows Into Light', cursive;
        
        a:link {
            text-decoration: none;
            color:#5f1f87; 
        }
    }
}

@media screen and (min-width: 600px) {
    footer {
        .social-media {
            width: 30%;
            margin-left: auto;
        }

        .info {
            text-align: left;
        }
    }
}

