@import "../../index";
@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

main {
    #nav-main-info {
        ul li {
                .about-me {
                    img {
                        height: 200px;
                        width: 200px;
                    }
                }
            }
        }
    }

   

  

            .education {

                img {
                    height: 100px;
                    display: flex;
                    justify: flex-end;
                }
            }

            .experience {

                img {
                    height: 100px;
                }
            }

            .my-blogs {

                img {
                    height: 100px;
                }
            }
        }   
    }      
}
